@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color:#008148;
    --second-color:#1e3932;
}

section{
    padding: 50px 10%;
}

img{
    width: 100%;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 4px 41px rgb(15 55 44/14%);
    padding: 15px 10%;
    transition: 0.2s;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 40px;
}